.afis {
  width: 100%;
  border: 1px solid black;
  text-align: center;
  font: Arial 20px;
}



input {
  text-align: center;
}

.afisareFrumoasa {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font: Arial 42px;
  text-align: center;
}

.afisareFrumoasa p {
  font-size: 20px;
}

.afisareFrumoasa .deAccentuat {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 25px;
}

.interiorImportant {
  background-color: white;
  color: black;
  border: 0.1px solid black;
  width: 20%;
}

.deCentratChenarele {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ComponentaDominanta {
  width: 70%;
}

#SpecialEdit {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.SaAfisamFrumosIMC {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.SaAfisamFrumosIMC img {
  width: 100%;
}

.btn {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #000000);
  background-image: -moz-linear-gradient(top, #000000, #000000);
  background-image: -ms-linear-gradient(top, #000000, #000000);
  background-image: -o-linear-gradient(top, #000000, #000000);
  background-image: linear-gradient(to bottom, #000000, #000000);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 90%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}