.DesignDieta{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
    border: 1px solid black;
}

.id1{
    font-size: 200%;
    font-family: fantasy;
}


.editDieta{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:80%;
}

.editDieta img{
    width: 100%;
}

.zonaPozaDieta{
    height : 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}